[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/hedera-smart-contracts"]
	path = lib/hedera-smart-contracts
	url = https://github.com/hashgraph/hedera-smart-contracts
